Antenna Switch flows.json
[{"id":"f79e2d27.63cdb","type":"tab","label":"Antenna Switch","disabled":false,"info":"This is the flow that will communicate with the Antanna Switch"},{"id":"40b9f50b.c79f6c","type":"ui_tab","name":"Radio","icon":"dashboard","disabled":false,"hidden":false},{"id":"ced68e6e.96369","type":"ui_base","theme":{"name":"theme-light","lightTheme":{"default":"#0094CE","baseColor":"#0094CE","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":true,"reset":false},"darkTheme":{"default":"#097479","baseColor":"#097479","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif","edited":false},"customTheme":{"name":"Untitled Theme 1","default":"#4B7930","baseColor":"#4B7930","baseFont":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"},"themeState":{"base-color":{"default":"#0094CE","value":"#0094CE","edited":false},"page-titlebar-backgroundColor":{"value":"#0094CE","edited":false},"page-backgroundColor":{"value":"#fafafa","edited":false},"page-sidebar-backgroundColor":{"value":"#ffffff","edited":false},"group-textColor":{"value":"#1bbfff","edited":false},"group-borderColor":{"value":"#ffffff","edited":false},"group-backgroundColor":{"value":"#ffffff","edited":false},"widget-textColor":{"value":"#111111","edited":false},"widget-backgroundColor":{"value":"#0094ce","edited":false},"widget-borderColor":{"value":"#ffffff","edited":false},"base-font":{"value":"-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"}},"angularTheme":{"primary":"indigo","accents":"blue","warn":"red","background":"grey"}},"site":{"name":"Node-RED Dashboard","hideToolbar":"false","allowSwipe":"false","lockMenu":"false","allowTempTheme":"true","dateFormat":"DD/MM/YYYY","sizes":{"sx":48,"sy":48,"gx":6,"gy":6,"cx":6,"cy":6,"px":0,"py":0}}},{"id":"430c96cd.a72528","type":"ui_group","name":"Antenna Switch","tab":"40b9f50b.c79f6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc44fcab.d0d13","type":"serial-port","z":"f79e2d27.63cdb","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"/","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r\\n","bin":"false","out":"char","addchar":"\\r\\n","responsetimeout":"10000"},{"id":"66dfe20c.4e024c","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":1,"width":0,"height":0,"passthru":false,"label":"Hex beam","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/0069:Set 1:xx","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":120,"wires":[["4322a46f.d2368c","e793e978.bc0468"]]},{"id":"bc365a5b.338538","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":2,"width":0,"height":0,"passthru":false,"label":"OCF dipole","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/0069:Set 2:xx","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":180,"wires":[["4322a46f.d2368c"]]},{"id":"a4b8cdbc.d67c8","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":3,"width":0,"height":0,"passthru":false,"label":"EF long wire","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/0069:set 3:xx","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":240,"wires":[["4322a46f.d2368c","e793e978.bc0468"]]},{"id":"d785dc52.363ed","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":3,"width":"3","height":"1","passthru":false,"label":"Get Switch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/0069:Get:xx","payloadType":"str","topic":"topic","topicType":"str","x":180,"y":320,"wires":[["e793e978.bc0468","4322a46f.d2368c"]]},{"id":"13b45a99.5c3fb5","type":"ui_text","z":"f79e2d27.63cdb","group":"430c96cd.a72528","order":4,"width":"3","height":"1","name":"","label":"","format":"{{msg.payload}}","layout":"row-center","x":590,"y":420,"wires":[]},{"id":"e6609108.28f58","type":"debug","z":"f79e2d27.63cdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":590,"y":340,"wires":[]},{"id":"e793e978.bc0468","type":"debug","z":"f79e2d27.63cdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"4322a46f.d2368c","type":"serial out","z":"f79e2d27.63cdb","name":"","serial":"dc44fcab.d0d13","x":430,"y":160,"wires":[]},{"id":"dbee7edd.7b5d3","type":"serial in","z":"f79e2d27.63cdb","name":"","serial":"dc44fcab.d0d13","x":170,"y":380,"wires":[["1dfc8b3b.c6e895"]]},{"id":"1dfc8b3b.c6e895","type":"function","z":"f79e2d27.63cdb","name":"","func":"msg.payload = msg.payload.split(':')[1];\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":400,"wires":[["13b45a99.5c3fb5","e6609108.28f58"]]}]