Antenna Switch flows.json
[{"id":"f79e2d27.63cdb","type":"tab","label":"Antenna Switch","disabled":false,"info":"This is the flow that will communicate with the Antanna Switch"},{"id":"66dfe20c.4e024c","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":1,"width":0,"height":0,"passthru":false,"label":"Hex beam","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/Set 1","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":120,"wires":[["4322a46f.d2368c"]]},{"id":"bc365a5b.338538","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":2,"width":0,"height":0,"passthru":false,"label":"OCF dipole","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/Set 2","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":180,"wires":[["4322a46f.d2368c"]]},{"id":"a4b8cdbc.d67c8","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":3,"width":0,"height":0,"passthru":false,"label":"EF long wire","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/set 3","payloadType":"str","topic":"topic","topicType":"msg","x":150,"y":240,"wires":[["4322a46f.d2368c"]]},{"id":"d785dc52.363ed","type":"ui_button","z":"f79e2d27.63cdb","name":"","group":"430c96cd.a72528","order":3,"width":0,"height":0,"passthru":false,"label":"Get Switch","tooltip":"","color":"","bgcolor":"","icon":"","payload":"/Get","payloadType":"str","topic":"topic","topicType":"str","x":180,"y":320,"wires":[["e793e978.bc0468","4322a46f.d2368c"]]},{"id":"13b45a99.5c3fb5","type":"ui_text","z":"f79e2d27.63cdb","group":"430c96cd.a72528","order":4,"width":0,"height":0,"name":"","label":"SW: ","format":"{{msg.payload}}","layout":"row-center","x":410,"y":400,"wires":[]},{"id":"e6609108.28f58","type":"debug","z":"f79e2d27.63cdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":430,"y":340,"wires":[]},{"id":"e793e978.bc0468","type":"debug","z":"f79e2d27.63cdb","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":410,"y":280,"wires":[]},{"id":"4322a46f.d2368c","type":"serial out","z":"f79e2d27.63cdb","name":"","serial":"dc44fcab.d0d13","x":380,"y":200,"wires":[]},{"id":"dbee7edd.7b5d3","type":"serial in","z":"f79e2d27.63cdb","name":"","serial":"dc44fcab.d0d13","x":170,"y":380,"wires":[["e6609108.28f58","13b45a99.5c3fb5"]]},{"id":"430c96cd.a72528","type":"ui_group","name":"Antenna Switch","tab":"40b9f50b.c79f6c","order":1,"disp":true,"width":"6","collapse":false},{"id":"dc44fcab.d0d13","type":"serial-port","z":"f79e2d27.63cdb","serialport":"/dev/ttyUSB0","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"/","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\r\\n","bin":"false","out":"char","addchar":"\\r\\n","responsetimeout":"10000"},{"id":"40b9f50b.c79f6c","type":"ui_tab","name":"Radio","icon":"dashboard","disabled":false,"hidden":false}]